doctype html
html
  head
    title NicoJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="js/base.js")
    link(rel="stylesheet",href="css/global.css")
  body(style="height: 100%")
    #container(style="width: 100%; height: 100%; background-image: url(images/background.jpg); background-size: cover;")